<div class="bg-lightbg text-text flex items-center gap-2.5 rounded-md p-2.5 group">
    <app-icon
        class="group-focus-within:opacity-100 opacity-50 transition-opacity duration-200"
        icon="cuida:search-outline"
        width="1.25rem"
        height="1.25rem"
    ></app-icon>

    <form class="w-full" (ngSubmit)="onSearch($event)">
        <input
            class="outline-none border-none bg-transparent focus:valid:opacity-100 opacity-50 transition-opacity duration-200 flex-grow text-sm"
            type="text"
            placeholder="Weapon name, skin, or user..."
            name="search"
            [(ngModel)]="search"
        />
    </form>
</div>
