<img
    src="/images/landing-chart.svg"
    alt="Landing Chart"
    aria-hidden="true"
    width="100%"
    height="100%"
    class="w-full h-full object-cover object-top absolute bottom-0 left-0 select-none pointer-events-none"
/>

<div class="relative w-full h-full flex flex-col items-center justify-center overflow-hidden">
    <img
        src="/images/ak-asiimov.png"
        alt="AK-47 | Asiimov"
        aria-hidden="true"
        width="100%"
        height="100%"
        class="w-72 h-auto absolute ml-[63rem] mb-[44vh] animate-grow pointer-events-none select-none"
    />

    <img
        src="/images/dlore.png"
        alt="AWP | Dragon Lore"
        aria-hidden="true"
        width="100%"
        height="100%"
        class="w-72 h-auto absolute mr-[63rem] mt-[20vh] animate-grow pointer-events-none select-none"
    />

    <div class="absolute flex flex-col items-center justify-center mb-44 px-[var(--side-padding)]">
        <app-logo class="mb-4" size="lg"></app-logo>
        <p class="opacity-50 mb-7 text-center text-sm sm:text-base">{{ landingText }}</p>
        <app-search-bar size="lg" class="max-w-3xl w-full"></app-search-bar>
    </div>
</div>
