<div class="rounded-md p-2 w-80 h-36 bg-lightbg flex gap-2">
    <div class="rounded-md h-full w-auto aspect-square object-cover animate-pulse bg-lighterbg"></div>
    <div class="flex flex-col gap-2.5 w-full">
        <div class="h-5 w-4/5 bg-lighterbg animate-pulse rounded-md"></div>
        <div class="h-4 w-3/5 bg-lighterbg animate-pulse rounded-md"></div>
        <div class="h-4 w-3/5 bg-lighterbg animate-pulse rounded-md"></div>
        <div class="h-4 w-3/5 bg-lighterbg animate-pulse rounded-md"></div>
        <div class="h-4 w-3/5 bg-lighterbg animate-pulse rounded-md"></div>
    </div>
</div>
